*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.column img{
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.column{
    float: left;
    width: 300px;
    height: 500px;
    padding: 10px 10px;
}
.row{margin: o -5px;}
.row ::after{
    content: "";
    display: table;
    clear: both;
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 30px 0;
    
}
.card :hover{
    box-shadow: 16px rgba(0, 0, 0, 0.2);
}
.card button{
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    color: black;
    font-family: Times New Roman;
}
.container{
    padding: 2px 16px;
}
.price{
    color: grey;
    font-size: 17px;
}
@media screen and (max-width: 600px){
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
