@import url(https://fonts.googleapis.com/css?family=Raleway);
#container
{
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
#nav-1 {
    background: #3fa46a;
  }
.link-1
{
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 20px 0;
    margin: 0 20px;
    text-decoration: none;
}
.link-1:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
  }
.header
{
    padding: 10px 20px;
    background: #ff688c;
    text-align: center
}
.banner
{
    width: 100%;
    height : 405px;
    background-position: center;    
}
.category{
    margin-left: 100px;
}
.category img
{
    padding: 50px;
    margin: auto;
    background-position: center;
    width:240px;
    height:190px;
}
.footer
{    
    text-align: left ;
    background: black;
    color: white;
    display: block;
    padding: 15px;
}
.goal
{
    text-align: center;
}
.center
{
    text-align: center;
}
