html,body
{
    height: 100%;
    margin: 0;
}
p
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center ;
}
.center
{
font: large ;
text-align: center;
}
.banner
{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.footer
{    
    text-align: left ;
    background: #acb3b9;
    display: block;
    padding: 5px;
}
#container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}