.nav{
    background: var(--mainDark) !important;
}
.nav_link{
    padding: 15px !important;
    color:  var(--mainWhite) !important;
    text-transform: capitalize;
    font-size: 16px !important;
    transition: all 0.3s ease 0s;
}
.nav_link:hover{
    color: #007EA7 !important;
    cursor: pointer;
}