.features{
    margin-top: 10px;
}
.text, .feature{
    text-align: center;
}
.text{
    padding-bottom: 40px ;
}
.heading{
    font-weight: bold;
}
.subtext{
    font-size: 16px;
    width: 90%;
    margin: auto;
    color: rgba(128, 128, 128, 0.911);
}
.feature{
    padding-bottom: 10px ;
}
.feature>h1{
    margin-bottom: 8px !important;
}

