ul{
    list-style-type: none;
}
li{
    font-size: 16px;
}
.footer{
    background: var(--mainDark);
    padding: 3rem;
    color:var(--mainWhite);
    text-align: center;
}
.link,li{
    color: var(--mainGrey);
}
.link:hover{
    color:var(--mainLightGrey);
}
.text{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}