.contact{
    margin-bottom: 50px;
}
.heading{
    text-align: center;
    font-weight: bold;
}
.form{
    margin-top: 20px;
    padding: 20px;
}
.button{
    text-align: center;
    text-transform: uppercase;
}
.mapcontainer{
    height: 350px;
    box-shadow: 0 8px 6px -6px black;
    margin-top: 20px;
}